.container{
    margin-top: 10px;
    background-color:  #D50000;
    padding-bottom: 0px;
}



.container>h1{
    color:white;
    padding: 15px;
}

@media only screen and (min-width:780px){
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

